In [3]:
import pandas as pd
import sklearn.linear_model
import numpy as np

In [10]:
df = pd.read_csv('./Exercise/hiring.csv')
df
from word2number import w2n

In [28]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           5                    8.0                           9      50000
1           5                    8.0                           6      45000
2           5                    6.0                           7      60000
3           5                   10.0                          10      65000
4           5                    9.0                           6      70000
5           5                    7.0                          10      62000
6           5                    NaN                           7      72000
7           5                    7.0                           8      80000

ValueError: No valid number words found! Please enter a valid number word (eg. two million twenty three thousand and forty nine)