In [3]:
import pandas as pd
import sklearn.linear_model
import numpy as np

In [10]:
df = pd.read_csv('./Exercise/hiring.csv')
df
from word2number import w2n

In [15]:
print (w2n.word_to_num("two million three thousand nine hundred and eighty four"))
df

2003984

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [27]:
df.experience.fillna(0)
df.experience = df.experience.fillna(0)

ValueError: No valid number words found! Please enter a valid number word (eg. two million twenty three thousand and forty nine)